<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar estado del camion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/administrador" method="POST">

                <div class="modal-body">

                    <div class="form-group">
                        <label for="textoelegido">Toque para abrir las opciones</label>
                        <select class="form-control" name="textoelegido" id="textoelegido">
                            <option value="Cuenta verificada">Confirmar verificacion de cuenta</option>
                            <option value="Cuenta no verificada">Establecer cuenta no verificada</option>
                        </select>
                    </div>

                    <input name="cuentaid" id="cuentaid" type="text" class="form-control"
                        value="<%- admincuenta._id %>">

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Aplicar cambios de estado</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>