<% include ./layouts/header %>
<div class="container">
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="inputEmail" name="email" type="email" placeholder="Correo electronico" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input class="form-control" id="inputPassword" name="password" type="text" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
    </form>
</div>
<% include ./layouts/footer %>