<!-- <footer id="sticky-footer" style="margin-top: 30px; padding-top: 30px;background-color: aliceblue">
    <section class="links">
        <a href="#">Inicio</a>
        <a href="#">Blog</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
    </section>

    <div class="social">
        <a href="#">FB</a>
        <a href="#">TW</a>
    </div>
</footer> -->
<script src="/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</div>

</html>