<!DOCTYPE html>
<html lang="es">

<head>
  <!--  <link rel='stylesheet' type='text/css' href='/animated-background.css'> -->
  <!--  <script src="/bubbly-bg.js"></script> -->
  <link rel='stylesheet' type='text/css' href='/central-body.css'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name='viewport'
    content='width=device-width, viewport-fit=cover, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <meta charset="UTF-8" />
  <link href="/css/bootstrap-dark.min.css" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--   <meta http-equiv="Content-Security-Policy"
    content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; script-src 'nonce-2726c7f26c'"> -->

  <meta name="renderer" content="webkit" />
  <title>RRHH</title>
</head>
<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-themed">
      <a class="navbar-brand" href="/">RRHH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <% if(isAdmin){ %>
          <li class="nav-item">
            <a class="nav-link" href="/administrador">Panel Administrador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesion</a>
          </li>
          <% }else if(isUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/personas/1">Personas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/crearPersona">Crear Persona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesion</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Registrarse</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>
</div>